body {
    background-color: rgb(27, 27, 27);
}



ul {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
  }
  
  li {
    display: inline; 
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    background-color: #0F2135;
  }
  
  li {
    float: left; 
  }
  
  li a {
    display: block;
    color: white; 
    text-align: center;
    padding: 36px 16px;
    text-decoration: none; 
    font-family:'Oswald Semi Bold', Tahoma, Geneva, Verdana, sans-serif;
    font-style: bold;
    font-size: 18px;
  }
  
  li a:hover { 
    background-color: rgb(0, 189, 255); 
                        
  }
  
  img {
      width: 211px;
      float: left;
  }

  .contact {
      float: right;
      padding-right: 20px;
  }