ul {
    list-style-type: none; /*List-stil-typ anger typen av listobjektmarkör i en lista.*/
    margin: 0; /*CSS-marginegenskaperna används för att skapa utrymme runt element utanför eventuella definierade gränser.*/
    padding: 0; /*CSS-polstringsegenskaperna används för att generera utrymme runt ett elements innehåll, inuti alla definierade gränser.*/
  }
  
  li {
    display: inline; 
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    background-color: black;
  }
  
  li {
    float: left; 
  }
  
  li a {
    display: block;
    color: white; 
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; 
    font-family: sans-serif;
  }
  
  li a:hover { 
    background-color: rgb(0, 189, 255); 
                        
  
  }
  